#works{
    min-height: calc(100vh- 4rem);
    margin: 40px  auto;
    width: 100vw;
    max-width: 65rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    margin: 1rem 10rem;
    font-size: 3rem;
}

.discription{
    font-weight: bold;
    font-size: 1rem;
    max-width: 55rem;
    padding: 0 2rem;
}

.images{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 55rem;
}

.image{
    object-fit: cover;
    height: 10rem;
    margin: 0.5rem;
}

.btn{
    padding: 0.5rem 2rem;
    font-size: 1rem;
    margin: 3rem 0;

}

@media screen and (max-width: 585px) {
    .image{
        height: 48vw;
    }
}