#skills{
    overflow: hidden;
    width: 100vw;
    max-width: 55rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skilltitle{
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 4.5rem;
    margin-bottom: 1.5rem;
}
.new{
    color: rgb(215, 198, 9);
}

.skilldisc{
    font-weight: 700;
    font-size: 1.1rem;
    max-width: 50rem;
    padding: 0 2rem;
}

.skillbars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillbar{
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.barimage{
    object-fit: cover;
    height: 4rem;
    width: 4rem;
    margin-right: 3rem;
    border-radius: 20px;
    cursor: pointer;
}

.bartext p{
    font-size: 0.9rem;
    font-weight: bold;
}
.bartext p:hover{
    text-decoration: underline;
}

@media screen and (max-width: 480px) {
    .barimage{
        height: 2.25rem;
        width: 2.25rem;
    }
    .bartext>h2{
        font-size: 5vw;
    }
}