.navbar{
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: rgb(78, 6, 6);
    border-radius: 30px;
}

.logo{
    height: 5rem;
    width: 6rem;
    object-fit: cover;
}

.menulistitem{
    margin: 1rem;
    cursor: pointer;
}

.menulistitem:hover{
    color: rgb(236, 184, 12);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid white;
}

.menubtn{
    background: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 30px;
    cursor: pointer;

}
.menuimg{
    object-fit: cover;
    height: 2rem;
    width: 2rem;
    font-weight: 600;
    text-decoration: underline;
}

.mobilemenu{
    display: none;
    object-fit: cover;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.navmenu{
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: fit-content;
    min-width: 15rem;
    background-color: rgb(40, 40, 40);
    border-radius: 2rem;
    text-decoration: underline;
    cursor: pointer;
}

.menuitem{
    color: white;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: rgb(30, 30, 30);
}

@media screen and (max-width: 720px) {
    .mobilemenu{
        display: flex;
    }
    .menubtn{
        display: none;
    }
    .menu{
        display: none;
    }
}
